.card {
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  padding-bottom: 40px;
}

.card__grid-container {
  padding: 0;
  padding-top: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  column-gap: 20px;
  row-gap: 40px;
  list-style-type: none;
  margin: 0;
  border: none;
}

.card__image {
  width: 100%;
  height: 413px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.card__title-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.card__title {
  max-width: 413px;
  font-size: 20px;
  margin: 0;
  color: rgba(33, 33, 33, 1);
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  margin-left: auto;
  background-color: transparent;
  background-image: url(../images/like-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
  width: 23px;
  height: 20px;
  cursor: pointer;
  border: none;
}

.card__like:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card {
    padding-bottom: 20px;
  }
  .card__grid-container {
    grid-template-columns: repeat(auto-fit, 288px);
    row-gap: 20px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    word-wrap: break-word;
    line-height: 1;
  }

  .card__title-container {
    max-width: 288px;
    justify-content: space-between;
  }

  .card__like {
    width: 20px;
    height: 18px;
  }
}
