.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
}

.profile__image {
  height: 190px;
  width: 190px;
  border-radius: 10px;
}

.profile__image-btn {
  position: absolute;
  border-radius: 10px;
  height: 190px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background: transparent;
  border: none;
  justify-content: center;
  background-color: #000;
  opacity: 0.5;
  color: white;
  padding: 0 0 12px;
  visibility: hidden;
}

.profile__pencil-icon {
  padding-right: 8px;
}

.profile__image-btn::after {
  content: "Edit Avatar";
}

.profile__avatar-container:hover .profile__image-btn {
  visibility: visible;
  cursor: pointer;
}

.profile__container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile__name {
  max-width: 420px;
  margin: 0 0 12px;
  line-height: 1;
  font-size: 32px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  max-width: 413px;
  margin: 0;
  line-height: 1;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  margin: auto 0 0 0;
  text-align: left;
  background-color: #fcf5e5;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
  border: none;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
}

.profile__edit {
  opacity: 0.7;
}

.profile__edit:hover {
  opacity: 1;
}

.profile__add-button {
  margin-left: auto;
  margin-top: auto;
  width: 157px;
  height: 52px;
  color: white;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 10px;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.8;
}

.profile__add-image {
  margin-right: 8px;
  background-color: rgb(33, 33, 33);
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    text-align: center;
    padding-top: 20px;
  }

  .profile__image {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .profile__description {
    margin-bottom: 30px;
  }

  .profile__edit-button {
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .profile__image-btn {
    visibility: visible;
    height: 23.34px;
    width: 23.34px;
    top: 52px;
    left: 52px;
    padding: 0;
    align-items: center;
    border-radius: 6px;
  }

  .profile__image-btn::after {
    content: "";
  }

  .profile__pencil-icon {
    padding: 0;
  }
}
