@import url(../vendor/fonts/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/profile.css");
@import url("../blocks/card.css");
@import url("../blocks/footer.css");

@media screen and (max-width: 1320px) {
  .card__grid-container {
    padding-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 880px) {
  .card__grid-container {
    padding-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 40px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  }

  .profile__image {
    margin-bottom: 12px;
  }

  .profile__container {
    align-items: center;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 1;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1;
  }
  .profile__edit-button {
    margin-bottom: 20px;
    margin-left: 0;
    font-size: 16px;
    line-height: 1;
  }
  .profile__add-button {
    margin-bottom: 20px;
    margin-left: 0;
    width: 100%;
    font-size: 16px;
  }
}
